
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div class="row">
    
    <div class="col-md-12">
        <ul>
            <li><a href="~/api/v1/activation/create" target="_blank">create activation</a></li>
            <li><a href="~/api/v1/surveys/global?aId=BC54810E-B15F-4545-804C-27B930717604">global surveys</a></li>
            <li><a href="~/api/v1/surveys/anytime?aId=BC54810E-B15F-4545-804C-27B930717604">anytime surveys</a></li>
            <li><a href="~/api/v1/surveys/location?aId=BC54810E-B15F-4545-804C-27B930717604">active location-surveys</a></li>
            <li><a href="~/api/v1/cloud">all cloud</a></li>
            <li><a href="~/api/v1/cloud?cat=Safety">safety cloud</a></li>
            <li><a href="~/api/v1/realtimecloud?lastpull=20150326162015">realtime cloud</a></li>
            <li><a href="~/api/v1/answers/debug?aId=BC54810E-B15F-4545-804C-27B930717604">answertest</a></li>
        </ul>
    </div>
</div>