
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div class="row">
    
    <div class="col-md-12">
        <ul>
            <li><a href="/api/v1/activation/create" target="_blank">create activation</a></li>
            <li><a href="/api/v1/surveys?aId=BC54810E-B15F-4545-804C-27B930717604&lat=42.339416&lng=-71.036496">surveys @@ 42.339416,-71.036496</a></li>
        </ul>
    </div>
</div>